<!DOCTYPE html>
<html>
<head>
	<title>Hackathon Sample Questions</title>
</head>

<body>
	<h1>Sample Questions</h1>
	<hr>
	<h3 id="a-weight-tracker-app">A weight tracker app</h3>
	<ul>
		<li>It accepts a set of manual entries of weight measurements taken at different dates</li>
		<li>It can plot a graph</li>
		<li>It can allow to track multiple entities, for example more than one person weight</li>
		<li>Store them somewhere</li>
	</ul>
	<h3 id="a-calculator-app">A calculator app</h3>
	<p>A standard calculator: numbers, +, -, *, /, and the result</p>
	<p><a href="https://www.youtube.com/watch?v=Drnp29SJY8w">See video tutorial</a></p>
	<h3 id="a-book-database">A book database</h3>
	<ul>
		<li>Enter the books you own</li>
		<li>Enter the books you&rsquo;d like to buy</li>
		<li>Store the book info, images</li>
	</ul>
	<h3 id="a-recipes-app">A recipes app</h3>
	<ul>
		<li>Enter a name, a description with the steps</li>
		<li>Have pictures</li>
		<li>Have some ranking for difficulty and quality</li>
		<li>Add the time needed</li>
		<li>Have different steps with a picture for each</li>
		<li>Store them somewhere</li>
	</ul>
	<p><a href="https://www.youtube.com/watch?v=6tZ4c-Bxstg">See video tutorial</a></p>
	<h3 id="a-bill-tracker">A bill tracker</h3>
	<ul>
		<li>Log bills, amounts and date</li>
		<li>List bills</li>
		<li>Have a few graphs (this year / last year)</li>
		<li>Store them somewhere</li>
	</ul>
	<h3 id="an-expenses-tracker">An expenses tracker</h3>
	<ul>
		<li>Log expenses, tag them (or have categories)</li>
		<li>List expenses</li>
		<li>Have a few graphs (last month / last year)</li>
		<li>Store them somewhere</li>
	</ul>
	<h3 id="a-chat-application">A chat application</h3>
	<ul>
		<li>Some sort of stripped-down Slack</li>
		<li>People enter without authentication and are assigned a name, stored for when they come back</li>
		<li>Store the history</li>
		<li>Add notifications</li>
	</ul>
	<h3 id="a-notes-app">A notes app</h3>
	<ul>
		<li>Add a new note</li>
		<li>List all your notes in the sidebar</li>
		<li>Store them somewhere</li>
	</ul>
	<h3 id="a-personal-diary-app">A personal diary app</h3>
	<ul>
		<li>Add entries with a date and text</li>
		<li>Entries have a date</li>
		<li>Show more recent first</li>
		<li>Attach pictures</li>
		<li>Store them somewhere</li>
	</ul>
	<h3 id="a-pomodoro-app">A pomodoro app</h3>
	<ul>
		<li>Enter a time</li>
		<li>Start timer</li>
		<li>Alert when the time is over</li>
	</ul>
	<p><a href="https://www.youtube.com/watch?v=lgj3nfzV0xM">See video tutorial</a></p>
	<h3 id="a-meme-generator">A meme generator</h3>
	<ul>
		<li>Have 10 popular meme images</li>
		<li>Let the user add the text</li>
		<li>Result is image + text</li>
		<li>Store the history</li>
	</ul>
</body>
</html>
