{% extends 'sub_events/event_page.html' %}

{% block content %}

<div class="container">
	<div class="event_box">
		<div class="event_info">
			<div class="event_title">About Nexus Motorsport</div>
			<div class="evs row">
				The Nexus Motorsport, India’s leading company provides platform from children to graduates by
offering wide opportunities in the motorsport field. From racing & commercial Go-Kart, Off road
buggies, ATV to Formula student race teams across India rely on Nexus Motorsport’s innovative
technology and first-class service. Spectacular sports victories underline the technical competence
and reliability of Nexus motorsport’s products and services.
			</div>
		</div>
	</div>

	<div class="event_box">
		<div class="event_info">
			<div class="event_title">Vision</div>
			<div class="evs row">
				At Nexus Motorsport, we intend to provide our young emerging undergraduates with the best
learning experience, where student after graduation will be a technically developed, dedicated
towards own dreams and concepts, innovative and skilled engineer. We aims to build an engineer who
will spend each second of his life in developing himself. We strive hard to ensure that each student in
our institute evolves to their best potential.
			</div>
		</div>
	</div>

	<div class="event_box">
		<div class="event_info">
			<div class="event_title">:</div>
			<div class="evs row">
			<ol>
				<li>The competition will be carried out in 2 rounds if the number of team registration exceed 20. In case of less than 20 team registrations, only round 2 will be carried out.</li>
				<li>Round 1:</li>
				<ul>
					<li>Teams need to submit a PDF file of the poster highlighting the features of their working model.</li>
					<li>The poster has to be precise in detailing the features but should not contain huge paragraphs.</li>
					<li>The poster need to be sent to <a href="gmail.com">hashtech@adypu.edu.in</a></li>
					<li>Shortlisted teams Round-1 would qualify to Round-2.</li>
				</ul>
				<li>Round 2:</li>
				<ul>
					<li>Qualified teams will present their working models.</li>
					<li>The poster to be presented should be of A1 size.</li>
				</ul>
			</ol>
			</div>
		</div>

		<div class="event_box">
			<div class="event_info">
				<div class="event_title">Judging Criteria</div>
				<div class="evs row">
					<ul>
						<li>Innovation</li>
						<li>Creativity</li>
						<li>Novelty</li>
						<li>Slution toward problem</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="event_box">
			<div class="event_info">
				<div class="event_title">Certification Policy</div>
				<div class="evs row">
					<ol>
						<li>Certificate of appreciation/participation will be awarded to all teams.</li>
						<li>Certificate of excellence and momentous will be given to top three teams.</li>
						<li>Disqualified team will not be considered for any certificates.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>



{% endblock content %}
