{% extends 'sub_events/event_page.html' %}

{% block content %}

<div class="container">
	<div class="event_box">
		<div class="event_info">
			<div class="event_title">Team Description</div>
			<div class="evs row">
				A team may consist of a maximum of three participants, Students from different institutes can form a team.
			</div>
		</div>
	</div>

	<div class="event_box">
		<div class="event_info">
			<div class="event_title">Rules:</div>
			<div class="evs row">
			<ol>
				<li>The competition will be carried out in 2 rounds.</li>
				<li>Round 1:</li>
				<ul>
					<li>Teams need to submit a PPT/PDF file of the poster highlighting the features of their working model.</li>
					<li>Points to be considered while preparing the document:-</li>
					<ul>
						<li>Problem statement being considered</li>
						<li>Solution</li>
						<li>Short-Market study</li>
						<li>Summary of marketing strategy</li>
						<li>Use cases</li>
						<li>Uniqueness of Idea</li>
					<ul>
					<li>Shortlisted teams from Round-1 would proceed to Round-2.</li>
				</ul>
				<li>Round 2:</li>
				<ul>
					<li>Qualified teams will present their ideas to panel of judges.</li>
					<li>Suggested points to be covered in presentation:-</li>
					<ul>
						<li>Problem Statement</li>
						<li>Solution</li>
						<li>How your product is different from the existing ones (if any).</li>
						<li>Market Study</li>
						<li>Implementation Plan</li>
						<li>Marketing Strategy</li>
						<li>Targeted Customer</li>
						<li>Total Costing/Sponsorship required</li>
						<li>Bonus Point:</li>
						<ul>
							<li>Inverstment Proposal with return plans.</li>
						</ul>
					</ul>
				</ul>
				<li><b>A maximum of 15 minutes of time would be allotted to each team which will be bifurcated as – 10 minutes for presentation and 5 minutes for Q&A.</b></li>
				<li>The documents for both the rounds need to be submitted before deadline to: <a href="gmail.com">hashtech@adypu.edu.in</a></li>
			</ol>
			</div>
		</div>

		<div class="event_box">
			<div class="event_info">
				<div class="event_title">Judging Criteria</div>
				<div class="evs row">
					<ul>
						<li>Innovation</li>
						<li>Pecularity</li>
						<li>Presentation Skills</li>
						<li>Convincing Skills</li>
						<li>Feasibility</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="event_box">
			<div class="event_info">
				<div class="event_title">Certification Policy</div>
				<div class="evs row">
					<ol>
						<li>Certificate of appreciation/participation will be awarded to all teams.</li>
						<li>Certificate of excellence and momentous will be given to top three teams.</li>
						<li>Disqualified team will not be considered for any certificates.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>



{% endblock content %}
