{% extends 'sub_events/event_page.html' %}

{% block content %}

<div class="container">
	<div class="event_box">
		<div class="event_info">
			<div class="event_title">Team Description</div>
			<div class="evs row">
				A team may consist of a maximum of four participants, Students from different institutes can form a team.
			</div>
		</div>
	</div>

	<div class="event_box">
		<div class="event_info">
			<div class="event_title">Rules:</div>
			<div class="evs row">
			<ol>
				<li>The first round will be the elimination round.</li>
				<ul>
					<li>The number of eliminations during a round will depend upon the number of entries.</li>
					<li>The robot has to score maximum goals and gain points</li>
					<li>Scoring Strategy:</li>
					<ol>
						<li>Scoring goal from behind the half line will give you 5 points.<li>
						<li>Scoring a goal from outside the "D" area will give you 3 points.<li>
						<li>Scroring goal from inside the "D" area willl give you 3 points.</li>
						<li>While pushing the ball into the goal, if the bot crosses the goal line, it would score 1 point.
					</ol>
				</ul>
				<li>Next Rounds:</li>
				<ul>
					<li>The level of difficulty may increase by qualifying the rounds.</li>
					<li>There is no point system after elimination round.</li>

					<li>Team scoring maximum goals would be declared winner.</li>
				</ul>
				<li>During the rounds, only maximum of two members are allowed in the arena.</li>
				<li>Stretching of the wire by the wireman may lead to disqualification.</li>
				<li>For wired robot, length of the wires must be sufficient enough to cover the arena.</li>
				<li>No time will be given once the robot is on the arena. If the bot is proved to be inactive for more than 60 seconds, it is disqualified.</li>
				<li>If the robot of the particpant's is not working on the spot, they can use the organizer's robot.</li>
				<li>Any of the rules can be changed by the coordinators before the commencement of competition, and particpants would be notified/informed about it 30 minutes before the competition.</li>
				<li>Final scoring and penalties rules will be announced at the day of the event.</li>
				<li>The organizers have the right to disqualify any participation indulging in malpractices. The decision of the event organizer's is final and cannot be debated upon.</li>
				<li>The robot should not damage the arena. It may lead to disqualification and fine of certain amount of money.</li>
			</ol>
			</div>
		</div>

		<div class="event_box">
			<div class="event_info">
				<div class="event_title">Robot Specification</div>
				<div class="evs row">
					<ol>
						<li>The bot must fit into a cube of <b>300mm X 300mm X 300mm</b>(lxbxh) and <b>must weigh less than or equal to 3 kg</b>.</li>
						<li><b>The battery used cannot exceed 12 V with max load current of 4 amp</b>. The power supply may or may not be onboard. Participants should bring their own power supply. No bench supply would be provided by the organizers.</li>
						<li>The robot must not leave behind any of its parts during the run, else it will result in disqualification.</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="event_box">
			<div class="event_info">
				<div class="event_title">Certification Policy</div>
				<div class="evs row">
					<ol>
						<li>Certificate of appreciation/participation will be awarded to all teams.</li>
						<li>Certificate of excellence and momentous will be given to top three teams.</li>
						<li>Disqualified team will not be considered for any certificates.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>



{% endblock content %}
