{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="#Tech - Sponsors">
    <meta name="keywords" content="#Tech - Sponsors">
    <meta name="author" content="#Tech">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title>#Tech - Sponsors</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" href="{% static 'apps/img/bg/logo.ico' %}">
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="{% static 'apps/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="{% static 'apps/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'apps/css/et-line.css' %}" rel="stylesheet">
    <link href="{% static 'apps/css/ionicons.min.css' %}" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="{% static 'apps/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'apps/css/owl.theme.default.min.css' %}" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'apps/css/animate.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'apps/css/main.css' %}" rel="stylesheet">
</head>
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand logo" href="{% url 'homepage' %}">
            <img src="{% static 'apps/img/logo.png' %}" alt="#Tech"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-text-align-right"></span>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'homepage' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'calendar_page' %}">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active-now" href="">Sponsors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'student_coordinator' %}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'Contact-Us' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--header end here-->

<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="{% static 'apps/img/sponsor.png' %}">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a>  | </li>
                <li><span>Sponsors</span></li>
            </ul>
        </div>
    </div>
</section>
<!--page title section end-->


<!--contact section -->
<section class="pt100 pb100">
    <div class="container" style="color: black'">
        <div class="row justify-content-center mt100">
            <div class="col-md-6 col-12">
                <div class="contact_info">
                    <h5 style="color: black;">
						OUR ESTEEMED PARTNERS...
                    </h5>
                    <p style="background-color: black">

					</p>
					<br>
				<div class="" style="background-color: black">
					<a href="">
    <div class="brand_item text-center" id="sponsortag">
        <img id="sponsortag" src="{% static 'apps/img/sponsor-02/iosd.png' %}" alt="">
    </div>
</a>
<a href="">
    <div class="brand_item text-center" id="sponsortag">
        <img id="sponsortag" src="{% static 'apps/img/sponsor-02/hydrasociety.png' %}" alt="">
    </div>
</a>
<a href="">
    <div class="brand_item text-center" id="sponsortag">
        <img id="sponsortag" src="{% static 'apps/img/sponsor-02/onyomarx.png' %}" alt="">
    </div>
</a>
<a href="">
    <div class="brand_item text-center" id="sponsortag">
        <img id="sponsortag" src="{% static 'apps/img/sponsor-02/dalvik.png' %}" alt="">
    </div>
</a>
<a href="">
    <div class="brand_item text-center" id="sponsortag">
        <img id="sponsortag" src="{% static 'apps/img/sponsor-02/wecan.png' %}" alt="">
    </div>
</a>
<a href="">
    <div class="brand_item text-center" id="sponsortag">
        <img id="sponsortag" src="{% static 'apps/img/sponsor-02/souledstore.png' %}" alt="">
    </div>
</a>
<a href="">
    <div class="brand_item text-center" id="sponsortag">
        <img id="sponsortag" src="{% static 'apps/img/sponsor-02/skillenza.png' %}" alt="">
    </div>
</a>
<a href="">
    <div class="brand_item text-center" id="sponsortag">
        <img id="sponsortag" src="{% static 'apps/img/sponsor-02/hackerearth.png' %}" alt="">
    </div>
</a>
<a href="">
    <div class="brand_item text-center" id="sponsortag">
        <img id="sponsortag" src="{% static 'apps/img/sponsor-02/nexus.png' %}" alt="">
    </div>
</a>
<a href="">
    <div class="brand_item text-center" id="sponsortag">
        <img id="sponsortag" src="{% static 'apps/img/sponsor-02/drona.png' %}" alt="">
    </div>
</a>
</div>
            </div>
        </div>

    </div>
</section>
<!--contact section end -->

<!--footer start -->
<footer>
    <div class="container">
        <div class="row justify-content-center">
		</div>
    </div>
</footer>
<div class="copyright_footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
				<p>#Tech Ajeenkya DY Patil University</p>
            </div>
        </div>
    </div>
</div>
<!--footer end -->

<!-- jquery -->
<script src="{% static 'apps/js/jquery.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'apps/js/popper.js' %}"></script>
<script src="{% static 'apps/js/bootstrap.min.js' %}"></script>
<script src="{% static 'apps/js/waypoints.min.js' %}"></script>
<!--slick carousel -->
<script src="{% static 'apps/js/owl.carousel.min.js' %}"></script>
<!--parallax -->
<script src="{% static 'apps/js/parallax.min.js' %}"></script>
<!--Counter up -->
<script src="{% static 'apps/js/jquery.counterup.min.js' %}"></script>
<!--Counter down -->
<script src="{% static 'apps/js/jquery.countdown.min.js' %}"></script>
<!-- WOW JS -->
<script src="{% static 'apps/js/wow.min.js' %}"></script>
<!--map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuahgsm_qfH1F3iywCKzZNMdgsCfnjuUA"></script>
<!-- Custom js -->
<script src="{% static 'apps/js/main.js' %}"></script>
</body>
</html>
